# Exclude system folders
AppData/
**/AppData/
node_modules/
.DS_Store
Thumbs.db
*.log
.env
.vscode/
.idea/

# Exclude cache files
**/Unity/
**/UnrealEngine/
**/CrashRpt/
**/SquadGame/
**/ModOrganizer/
**/Packages/
**/*00000000000000000000000000000005/
**/backup_*/
